.parent{
  
  /* background-color: rgb(43, 0, 200); */
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
}


.yellow{
  background-color: rgb(255, 202, 68);
  width: 200px;
  height: 200px;
  border: 1px white;

  
}

.red{
  background-color: rgb(253, 13, 13);
  width: 200px;
  height: 200px;
}
.green{
  background-color: green;
  width: 200px;
  height: 200px;
}
